.basket-items {
    display: flex;
    flex-direction: column;
}

.basket-item {
    width: auto;
    display: flex;
    margin-bottom: 20px;
}

.item-image {
    width: 200px;
    height: 125px;
    object-fit: fill;
    margin-bottom: 10px;
}

.item-details {
    width: auto;
    padding-left: 10px;
}

.item-image img {
    width: 200px;
    height: 125px;
    object-fit: fill;
}
