* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body {
background-color: #f5d5bb;
}

    .topnav {
        height: 10vh;
        width: 100%;
       background-image: url("../Pictures for website/wood.png");
       background-size: cover;
       background-position: center;
      }
      
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-top: 10px;
        padding-right: 10%;
      }
      
      .logo {
        color: #f5d5bb;
        font-size:28px ;
      }
      
      nav .fa {
        display: none;
      }
      
      nav ul li {
        list-style-type: none;
        display: inline-block;
       right: -200;
       padding: 10px 20px;
      }
      
      nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      
      }
      
      nav ul li a:hover {
        color: #4f4d62;
        transition: 0.3s;
      }
      
      ul {
        list-style: none;
      }      

    .footer {
        background-image: url("../Pictures for website/wood.png");
        background-size: cover;
        background-position: center;
      padding: 70px 0;
      }
        
      .row {
      display: flex;
      flex-wrap: wrap;
      }
        
        .footer-col {
            width: 25%;
            padding: 0 15px;
        }
        
        .footer-col h4{
            font-size: 18px;
            color: #fff;
            text-transform: capitalize;
            margin-bottom: 30px;
            font-weight: 500px;
            position: relative;
        }
        
        .footer-col h5{
            font-size: 14px;
            color: beige;
            text-transform: capitalize;
            margin-bottom: 15px;
            font-weight: 200px;
            position: relative;
        }
        
        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: burlywood;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }
        
        .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
        }
        
        .footer-col ul li a{
            font-size: 16px;
            text-transform: capitalize;
            color: #fff;
            text-decoration: none;
            font-weight: 300px;
            color: #bbb;
            display: block;
            transition: all 0.3s ease;
        }
        
        .footer-col ul li a:hover{
            color: #fff;
            padding-left: 10px;
        }
        
        .footer-col .social-links a {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-color:rgba(39, 31, 4, 0.6);
            margin: 10px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color: #fff;
            transition: all 0.5s ease;
        }
        
        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #fff;
        }
        
        @media(max-width: 767px){
        .footer-col {
            width: 25%;
            margin-bottom: 30px;
        }
        }
        
        @media(max-width: 574px){
            .footer-col {
                width: 100%;
            }
            }


            body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
              background-color: #f0e5d8;
              text-align: center;
          }
          .container {
              max-width: 850px;
              margin: auto;
              padding: 40px;
          }
          .basket-header {
              text-align: center;
              margin-bottom: 70px;
          }
          .basket-item {
              display: flex;
              align-items: center;
              
              border-radius: 10px;
              margin-bottom: 65px;
              padding: 15px;
              background-color: #f5d5bb;
              border: 1px solid #ddd;
              box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          }
          .item-image img {
              width: 175px; /* Adjust as needed */
              height: 150px;
              border-radius: 10px;
              margin-left: 30px;
          }
          .item-details {
              margin-left: 20%;
              padding: 0 20px;
              font-size: 18px;
         
              
            
          }
          h4{
            font-size: 22px;
            margin-bottom: 15px;
          }
         
          .quantity-controls {
              margin-top: 17px;
              align-items: center;
          }
          .quantity-controls button {
              padding: 5px 15px;
              margin: 0 5px;
              border: 1px solid #ddd;
              background-color: #ecebeb;
              cursor: pointer;
          }
          .quantity-controls span {
              min-width: 10px;
              text-align: center;
          }
      
          .checkout-button {
              
            
              width: 25%;   
              padding: 15px;
              background-color: #eaff31;
              border: none;
              border-radius: 4px;
              color: black;
              cursor: pointer;
              margin-bottom: 100px;
              margin-top: 50px;
             
          
              


              
              
              
          }
          
          
    
            