.topnav {
    height: 100%;
    width: 100%;
   background-image: url("http://localhost/furniche-demo/Pictures%20for%20website/wood.png");
   background-size: cover;
   background-position: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 10px;
    padding-right: 10%;
  }
  
  .logo {
    color: #f5d5bb;
    font-size:28px ;
  }
  
  nav .fa {
    display: none;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
   right: -200;
   padding: 10px 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  
  }
  
  nav ul li a:hover {
    color: #4f4d62;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }
  body{
    background-color: #f5d5bb;
   

  }

  .text-wrapper-2 {
    position: absolute;
    height: 200px;
    left: 460px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }

  .text-wrapper-3 {
    position: absolute;
    top: 300px;
     left:460px;
     font-size: 35px;
     font-family: "Inter-ExtraBold", Helvetica;
     font-weight: 600
   }

   .column6 {
    width: 40%;
    display: inline-block;
    margin-right: 5%;
    box-sizing: border-box;
   }

   .divform{
    position: absolute;
    top: 500px;
    left: 85px;
    width: 1000px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    border-bottom: 2px solid #080707;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  

  .column6 {
    width: 40%;
    display: inline-block;
    margin-right: 2%; 
    box-sizing: border-box;
}

.cbutton{
    position: absolute;
    top: 500px;
    left: 220px;
}

.column6:last-child {
    margin-right: 0;
}




  .fill{
    background-color: #4f4d62;
    width: 1200px;
    height: 2500px;


  }

  .payment1{
    position: absolute;
    width: 600px;
     top: 1250px;
    left: 300px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    border-bottom: 2px solid #080707;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.triggered{
    position: absolute;
    width: 750px;
    top: -150px;
    left:200px;
    font-size: 35px;
    font-family: "Inter-ExtraBold", Helvetica;
}

.basketsec{
    position: absolute;
    width: 600px;
     top: 1700px;
    left: 300px;
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    
  }

  .bb{
  position: relative;
    width: 750px;
    left:210px;
    font-size: 35px;
    font-family: "Inter-ExtraBold", Helvetica;
    
  }
  .order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5d5bb;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

  

  form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    
  }
  .form-label {
    text-align: center;
   }
  .form-control {
    width: 100%;
    padding: 0.8rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .form-label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

  .footer {
    background-image: url("http://localhost/furniche-demo/Pictures%20for%20website/wood.png");
    background-size: cover;
    background-position: center;
  padding: 70px 0;
  opacity: 85%;
  }
    
  .row {
  display: flex;
  flex-wrap: wrap;
  }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4{
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500px;
        position: relative;
    }
    
    .footer-col h5{
        font-size: 14px;
        color: beige;
        text-transform: capitalize;
        margin-bottom: 15px;
        font-weight: 200px;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: burlywood;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    }
    
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-weight: 300px;
        color: #bbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover{
        color: #fff;
        padding-left: 10px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color:rgba(39, 31, 4, 0.6);
        margin: 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #fff;
    }
    
    @media(max-width: 767px){
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
    }
    }
    
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
        }
        }