.topnav {
    height: 10vh;
    width: 100%;
   background-image: url("../Pictures for website/wood.png");
   background-size: cover;
   background-position: center;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .logo {
    color: #f5d5bb;
    font-size:28px ;
  }
  
  nav .fa {
    display: none;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
   right: -200;
   padding: 10px 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  
  }
  
  nav ul li a:hover {
    color: #4f4d62;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background: #e8e1db;
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.center {
    text-align: center;
}
.name {
    color: #d6d7b4;
    background-color: #f5d5bb;
}

.images {
    width: 100%;
    object-fit: cover
}

.title {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 60px;

}

.text1 {
    position: absolute;
    top: 166%;
    left: 17%;
    font-size: 30px;
}

.text2 {
    position: absolute;
    top: 175%;
    left: 17%;
    font-size: 30px;
}

.text3 {
    position: absolute;
    top: 166%;
    left: 42%;
    font-size: 30px;
}

.text4 {
    position: absolute;
    top: 175%;
    left: 42%;
    font-size: 30px;
}

.text5 {
    position: absolute;
    top: 166%;
    left: 65%;
    font-size: 28px;
}

.text6 {
    position: absolute;
    top: 175%;
    left: 65%;
    font-size: 30px;
}


.custom-select {
    width: 200px; /* Adjust the width as needed */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
    cursor: pointer;
    background-color: #f8f8f8; 
}

.custom-select:hover,
.custom-select:focus {
    border-color: #4f4d62;
}

.custom-select option[selected] {
    background-color: #f5d5bb;
    color: #333;
}

.Crate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1600px;
    height: 210px;
    overflow: hidden;
}

.design {
    background-color: #f5d5bb;
    display: grid;
    width: flex;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    height: 50vh;
}

.my_img {
    padding: 20px;
    width: 250px;
    height: 400px;
    align-items: center;
}

.product {
    background-color: #4f4d62;
    display: grid;
    width: flex;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    
}

.my_img_2 {
    padding: 40px;
    width: 300px;
    height: 400px;
}

.image {
align-items: center;
max-width:50px;
max-height: 25px;
}

.image {
    align-items: center;
    max-width:50px;
    max-height: 25px;
    }
.footer {
    background-image: url("../Pictures for website/wood.png");
    background-size: cover;
    background-position: center;
  padding: 70px 0;
  opacity: 85%;
  }
    
  .row {
  display: flex;
  flex-wrap: wrap;
  }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4{
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500px;
        position: relative;
    }
    
    .footer-col h5{
        font-size: 14px;
        color: beige;
        text-transform: capitalize;
        margin-bottom: 15px;
        font-weight: 200px;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: burlywood;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    }
    
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-weight: 300px;
        color: #bbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover{
        color: #fff;
        padding-left: 10px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color:rgba(39, 31, 4, 0.6);
        margin: 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #fff;
    }
    
    @media(max-width: 767px){
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
    }
    }
    
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
        }
        }
h2 {
    color: #333;
}

table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4f4d62;
}

.image-filter {
    width: 125px;
    height: 200px;
    object-fit: fill;
    cursor: pointer;
}

.product-image {
    padding-left: 40px;
    width: 350px;
    height: 350px;
    object-fit: fill;
    cursor: pointer;
}

.modal-image {
    width: 350px;
    height: 350px;
    object-fit: fill;
    cursor: pointer;
}

.product-details {
    margin-left:15px;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #f5d5bb;
    width: auto;
    height: auto;
    text-align: center;
}

#addToBasketButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.current-offers {
    display: flex;
    margin-top: 20px;
    overflow-x: auto; 
    
}

.offer-item {
    border: 15px solid #4f4d62;
    margin-left: 150px;
    width: auto;
    padding: 10px;
    border: 1px solid #4f4d62;
    text-align: center;
    margin-right: 10px; /* Add margin between items */
}

.offer-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.offer-item img {
    width: 200px;
    height: 125px;
    object-fit: fill;
    cursor: pointer;
}

.recommendations {
    display: flex;
    width: 100%;
    flex-wrap: nowrap; /* Ensure items stay in a single line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    margin: -10px; /* Adjust for spacing */
}

.recommendation {
    flex: 0 0 auto; /* Prevent items from growing */
    margin: 10px; /* Adjust for spacing */
}

.recommendation img {
    width: 300px; /* Adjust image size */
    height: 250px;
}

body {
    font-family: Arial, sans-serif;
}

/*.card {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}*/

.product-details .card #image-details {
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    vertical-align: top;
}

.info {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

/* code for the product details*/

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  /* Columns */
.left-column {
    width: 65%;
    position: relative;
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }

  /* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
   
  .left-column img.active {
    opacity: 1;
  }

  /* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  /* Product Color */
.product-color {
    margin-bottom: 30px;
  }
   
  .color-choose div {
    display: inline-block;
  }
   
  .color-choose input[type="radio"] {
    display: none;
  }
   
  .color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
   
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
   
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(Pictures for website/Bohemian.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Cable Configuration */
.cable-choose {
    margin-bottom: 20px;
  }
   
  .cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }
   
  .cable-choose button:hover,
  .cable-choose button:active,
  .cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
   
  .cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
   
  .cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
   
  .cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }

  /* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }