* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "enra-semi-variable", sans-serif;
  font-variation-settings: "wght" 400;
}

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-image: url("../Pictures for website/nav-3 (1).png");
  padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  height: 15%;
  top: 0; /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 50px;
  font-weight: bold;
  transition: 0.4s;
  color: #beac99;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #7f683a;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: #c4936b;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
      float: none;
      display: block;
      text-align: left;
  }
  #navbar-right {
      float: none;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size:30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f5d5bb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.br{
  background-image: url("../Pictures for website/header-new-2.png");
}

.home{
  background-image: url("../Pictures for website/home.jpg");
  color: #f5d5bb;
  height: 50vh;
  width: 100%;
  background-size: cover;
background-position: center;
padding: 25% 25%;
font-size: 35px;
font-weight: 600;
}

.categories{
  padding: 5%;
  text-align: center;
  height: 80vh;
  width: 100%;
  background-color: #4f4d62;
}

.Newsletter{
    background-image: url("../Pictures for website/header-new-2 (1).png");
display: grid;
align-items: center; 
grid-template-columns: 1fr 1fr;
text-align: center;
}

.my_img{
  width: 75%;
  height: 100%;
 margin-left: 15%;
  }

  .my_img1{
      width: 75%;
      height: 100%;
     margin-left: 10%;
      }
  

  .image-filter {
      width: 200px;
      height: 300px;
      object-fit: fill;
      cursor: pointer;
  }


.footer {
  background-image: url("../Pictures for website/foot.png");
  background-size: cover;
  background-position: center;
padding: 70px 0;
opacity: 85%;
}
  
.row {
display: flex;
flex-wrap: wrap;
}
  
  .footer-col {
      width: 25%;
      padding: 0 15px;
  }
  
  .footer-col h4{
      font-size: 18px;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 30px;
      font-weight: 500px;
      position: relative;
  }
  
  .footer-col h5{
      font-size: 14px;
      color: beige;
      text-transform: capitalize;
      margin-bottom: 15px;
      font-weight: 200px;
      position: relative;
  }
  
  .footer-col h4::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: burlywood;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  
  .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  }
  
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
      font-weight: 300px;
      color: #bbb;
      display: block;
      transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover{
      color: #fff;
      padding-left: 10px;
  }
  
  .footer-col .social-links a {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color:rgba(39, 31, 4, 0.6);
      margin: 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #fff;
      transition: all 0.5s ease;
  }
  
  
  .footer-col .social-links a:hover {
      color: #24262b;
      background-color: #fff;
  }

.text1 {
  position: absolute;
  top: 360%;
  left: 10%;
}

.text2 {
  position: absolute;
  top: 365%;
  left: 10%;
  font-size: 20px;
}

.text3 {
  position: absolute;
  top: 360%;
  left: 58%;
}

.text4 {
  position: absolute;
  top: 365%;
  left: 58%;
  font-size: 20px;
}
  
  @media(max-width: 767px){
  .footer-col {
      width: 25%;
      margin-bottom: 30px;
  }
  }
  
  @media(max-width: 574px){
      .footer-col {
          width: 100%;
      }
      }