/* CSS for the menu button */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    background-color: #f5d5bb;

}


.menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #333;
    /* Menu button background color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Hide the dropdown by default */
.dropdown {
    display: none;
    position: absolute;
    background: #333;
    top: 40px;
    right: 0;
    width: 150px;
    border: none;
    cursor: pointer;
}


/* Show the dropdown when the menu button is hovered */
.menu-button:hover .dropdown {
    display: block;
    padding: 10px;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

#logo {
    margin-left: 20px;
    margin-top: 20px;
}

#logo img {
    width: 100px;
    height: auto;
}

.menu-button {
    cursor: pointer;
    color: #fff;
    background-color: #5c2c06;
    padding: 10px 20px;
    border-radius: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    margin: 20px;
    padding: 20px;
  max-width: 750px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   justify-content: center;
    cursor: pointer;
  }

.image_container{
    margin: 20px;
    padding: 20px;
  max-width: 750px;
  position: relative;
  margin: auto;
}

.catergories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  
 .card {
     flex: 0 1 24%;
 }

.card {
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .cat_container {
    padding: 2px 16px;
  }
  .catergories {
	display: flex;
	justify-content: center;
}