/*CSS that applies to multiple pages*/

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ecececec;
}

.container {
    display: flex;
}

header {
    background-color: #94715a;
    padding: 10px;
    display: inline;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
}

h1{
    margin-top:40px;
    margin-left:260px;

}
#content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

#content.left-collapsed {
    margin-left: 70px;
}


/*Sidebar*/
#sidebar {
    height: 100vh;
    width: 250px;
    background-image: url("../Pictures for website/nav-side.png");
    position: fixed;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.side-menu {
    list-style: none;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;
    cursor: pointer;
}

.logo span {
    font-weight: bold;
}

#sidebar.left-collapsed {
    width: 70px;
}

#sidebar.left-collapsed .nav-item {
    display: none;
}

.hide-text span {
    display: none;
}

#sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 0.8rem;
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #ffff;
    color: #D4AC87;
}

#sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

#sidebar ul li .tooltip {
    position: absolute;
    left: 250px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
}

#sidebar ul li:hover .tooltip {
    display: block;
}


.user-info {
    margin-left: 30px;
    margin-top: 15px;
    list-style-type: none; 
    display: flex;
    align-items: center;
}

#user-icon {
    margin-right: 10px; 
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#user-info:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
    display: none;
}

#user-info:hover + .dropdown-content a,
.dropdown-content:hover a {
    display: block;
}


/* CSS for display tables (User, Products, Admin and Orders)*/
.info-table {
    margin: 20px auto;
    margin-left: 370px;
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #8b5e3c;
}

.info-table table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #8b5e3c;
}

.info-table th {
    background-color: #e2b489;
}

.info-table td.low-stock {
    color: red;
    font-weight: bold;
}

.info-table td.available-stock {
    color: green;
    font-weight: bold;
}


/*Pagination Buttons*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    margin-left: 400px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #D4AC87;
    border: 1px solid #D4AC87;
    border-radius: 5px;
    margin-right: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #c4956b;
}

.pagination a.active {
    background-color: #c4956b;
}

.button-spacing {
    margin-right: 30px; 
}
