/*CSS that applies to multiple pages*/

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ecececec;
   
}

.container {
    display: flex;
}

header {
    background-color: #94715a;
    padding: 10px;
    display: inline;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
}

h1{
    margin-top:40px;
    margin-left:260px;

}
#content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

#content.left-collapsed {
    margin-left: 70px;
}


/*Sidebar*/
#sidebar {
    height: 100vh;
    width: 250px;
    background-image: url("../Pictures for website/nav-3 (1).png");
    position: fixed;
    left: 0;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}

#sidebar.hide {
    display: none;
  }
.side-menu {
    list-style: none;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;
    cursor: pointer;
}

.logo span {
    font-weight: bold;
}

#sidebar.left-collapsed {
    width: 70px;
}

#sidebar.left-collapsed .nav-item {
    display: none;
}

.hide-text span {
    display: none;
}

#sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 0.8rem;
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #ffff;
    color: #D4AC87;
}

#sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

#sidebar ul li .tooltip {
    position: absolute;
    left: 250px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
}

#sidebar ul li:hover .tooltip {
    display: block;
}


.user-info {
    margin-left: 30px;
    margin-top: 15px;
    list-style-type: none; 
    display: flex;
    align-items: center;
}

#user-icon {
    margin-right: 10px; 
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#user-info:hover + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
    display: none;
}

#user-info:hover + .dropdown-content a,
.dropdown-content:hover a {
    display: block;
}


/* CSS for display tables (User, Products, Admin and Orders)*/
.info-table {
    margin: 20px auto;
    margin-left: 385px;
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #8b5e3c;
}

.info-table table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #8b5e3c;
}

.info-table th {
    background-color: #e2b489;
}

.info-table td.low-stock {
    color: red;
    font-weight: bold;
}

.info-table td.available-stock {
    color: green;
    font-weight: bold;
}


/*Pagination Buttons*/
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    margin-left: 400px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #D4AC87;
    border: 1px solid #D4AC87;
    border-radius: 5px;
    margin-right: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #c4956b;
}

.pagination a.active {
    background-color: #c4956b;
}

.button-spacing {
    margin-right: 30px; 
}


/* Create New but also for editing and updating (Product, Admin, User) */
.create-container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 385px;
    width: 100%;
}

.create-form {
    background-color: #e2b489;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
}

.create-form h2 {
    border-bottom: 1px solid #555353;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
}

.input-container input,
.input-container select {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-container .small-dropdown {
    width: 350px; 
    height:50px;
    margin-left: 0;
}

.input-container label {
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #622;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #ffff;
    color: #622;
}


/*Page specific code starts here */

/* Admin Dashboard*/
.kpi-section {
    margin-left: 300px;
    margin-top: 20px;
    max-width: 1200px;
    transition: margin-left 0.3s ease-in-out;
}

.kpi-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
  
}

.kpi-box {
    padding: 24px;
    background: #f3f4f6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.kpi-box:hover {
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.5);
    background-color: #c4956b;
    background: #fee3cf;

}

.kpi-box i {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-box:nth-child(1) i {
    background: #d2e3fc;
    color: #1e6ef9;
}

.kpi-box:nth-child(2) i {
    background: #fff7d6;
    color: #f8b700;
}

.kpi-box:nth-child(3) i {
    background: #fcd9c4;
    color: #ff6347;
}

.kpi-box .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: #374151;
}

.kpi-box .text p {
    font-size: 20px;
    font-weight: 600;
    color: #374151;
}
.charts-section {
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 10px;
}

.charts {
    display: flex;
    justify-content: space-between;
    width: 800px;
    }

.charts-box {
margin-left: 300px;
    width: 1200px; 
    max-height: 3750px;
    background-color:white;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/*CSS to Change colour of delivery Status*/

.status-delivered {
    color: green;
    text-shadow: black;
}
.status-delivering {
    color: lightgreen;
    text-shadow: black;
}


.status-dispatching {
    color: orange;
    text-shadow: black;
    
}
.status-pending {
    color: red;
    text-shadow: black;

}

/*CSS for individual order page (editorder.php)*/
.display-details .order-details {
    
    font-size: 17.5px;
    padding-left: 150px;
    width: 430px;
    background: #f3f4f6;
   
}

.order-details p:hover {
    background-color: rgba(247, 247, 247, 0.806);
    padding: 5px;
    border-radius: 1px;
}


/* Individual Edit Pages (order, user and product)*/
.back-button {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 700px;
    text-align: center;
    padding: 8px;
}

.back-button:hover {
    background-color: #FF8C79; 
}


.display-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-left: 350px;
    background-color: white;
    max-width: 1100px;
    border-radius: 30px;
    overflow: hidden;
    max-height: 475px;

}

.header-details{
    margin-left: 320px;
    display: flex inline;
    align-items: center;    
    }
    
.display-details .header-details {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.display-details .header-details h2 {
    margin-top: 0;
}

.display-details .delete-button {
    color: white;
    text-decoration: none;
    display: block;
    background-color: darkred; 
}


.delete-button {
    background-color: darkred; 
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    max-width: 200px;
}

.delete-button:hover {
    background-color: #FF8C79; 
}

.delete-button i {
    margin-right: 5px;
}


.display-details .kpi-box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left: 50px;
    padding: 24px;
    background: #f3f4f6;
    border-radius: 20px;
    max-width: 500px;
    max-height: 70px;
    align-items: center;
    justify-content: center;
}

.display-details .kpi-box i {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-details .kpi-box .text {
    margin-left: 10px;
}

.display-details .kpi-box .text h3 {
    font-size: 20px;
    font-weight: 600;
    color: #374151;
}

.display-details .kpi-box .text p {
    color: #374151;
}


/*User Edit Page Specific CSS*/
.display-details .user-details {
    padding-top: 15px;
    font-size: 17.5px;
    padding-left: 150px;
    width: 400px;
    background: #f3f4f6;
   
}
.user-details p:hover {
    background-color: lightbrown;
    padding: 2px;
    border-radius: 5px;
}


.display-details .user-kpis {
    display: flex;
    flex-direction: column;
}

.edituser-container {
    width: 100%;
    margin-left: 45px;
    }

    
/*Product Edit Page Specific CSS*/
.display-details .product-details {
    padding-top: 15px;
    font-size: 17.5px;
    padding-left: 150px;
    width: 550px;
    background: #f3f4f6;
   
}

.product-details p:hover {
    background-color: rgba(255, 255, 255, 0.893);
    padding: 1px;
    border-radius: 5px;
}


.display-details .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-details .product-image img {
    margin-left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
}

