body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e5d8; 
  }
  
  h2 {
    color: #8b5f4d; 
    font-size: 28px; 
    margin-top: 20px; 
    text-align: center;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .order-container, .review-form-container, .user-reviews-container {
    background-color: #3e2723; 
    border: 15px solid #8b5f4d; 
    margin: 20px auto; 
    padding: 15px;
    color: #fff; 
    display: flex;
    align-items: center;
    max-width: 700px; 
    width: 100%; 
    position: relative;
    border-radius: 10px;
  }
  
  .order-image, .review-image {
  width: 200px; 
  height: auto;
  margin-right: 15px;
  }
  
  .order-details, .review-details {
  flex-grow: 1; 
  }

  select {
    padding: 5px;
    font-size: 14px;
  }
  
  
  button {
  background-color: #8b5f4d;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  width:150px;
  }
  
  input[type='submit'] {
  background-color: #8b5f4d;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  width: 150px;
  }

  .recently-viewed-container {
    margin-top: 20px;
  }
  
  .product-container {
    background-color: #3e2723; 
    border: 1px solid #8b5f4d; 
    padding: 10px;
    margin-right: 10px;
    color: #fff; 
    max-width: 200px; 
    text-align: center;
  }
  
  .product-image {
    width: 100%; 
    height: auto;
  }
    