* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "enra-semi-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

.topnav {
  height: 10vh;
  width: 100%;
 background-image: url("wood.jpg");
 background-size: cover;
 background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-top: 10px;
  padding-right: 10%;
}

.logo {
  color: #f5d5bb;
  font-size:28px ;
}

nav .fa {
  display: none;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
 right: -200;
 padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}

nav ul li a:hover {
  color: #4f4d62;
  transition: 0.3s;
}

ul {
  list-style: none;
}

.footer {
    background-image: url("wood.jpg");
    background-size: cover;
    background-position: center;
  padding: 70px 0;
  opacity: 85%;
  }
    
  .row {
  display: flex;
  flex-wrap: wrap;
  }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4{
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 500px;
        position: relative;
    }
    
    .footer-col h5{
        font-size: 14px;
        color: beige;
        text-transform: capitalize;
        margin-bottom: 15px;
        font-weight: 200px;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: burlywood;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    }
    
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-weight: 300px;
        color: #bbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover{
        color: #fff;
        padding-left: 10px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color:rgba(39, 31, 4, 0.6);
        margin: 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #fff;
    }
    
    @media(max-width: 767px){
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
    }
    }
    
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
        }
        }